Django==5.1.7
django-celery-beat==2.8.1
django-timezone-field==7.1
djangorestframework==3.15.2
APScheduler==3.11.0
celery==5.5.3
daphne==4.2.1
wheel==0.45.1
whitenoise==6.11.0
pywebview==5.4
RangeSlider==2023.7.2
obspy==1.4.1
folium==0.20.0
channels==4.3.1
pytz==2025.2

