altgraph==0.17.4
amqp==5.3.1
anaconda==0.0.1.1
APScheduler==3.11.0
asgiref==3.10.0
aspose-words==25.1.0
attrs==25.1.0
autobahn==24.4.2
Automat==25.4.16
billiard==4.2.1
bottle==0.13.2
branca==0.8.1
Cartopy==0.24.1
celery==5.5.3
certifi==2025.1.31
cffi==2.0.0
channels==4.3.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coloredlogs==15.0.1
constantly==23.10.4
contourpy==1.3.1
cron-descriptor==1.4.5
cryptography==46.0.2
customtkinter==5.2.2
cycler==0.12.1
daphne==4.2.1
darkdetect==0.8.0
decorator==5.2.1
distlib==0.3.9
Django==5.1.7
django-celery-beat==2.8.1
django-timezone-field==7.1
djangorestframework==3.15.2
docker==7.1.0
docopt==0.6.2
filelock==3.18.0
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.56.0
future==1.0.0
gcode2image==2.4.2
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gprpy @ file:///home/remllez/Documents/python/experiment/GPRPy
greenlet==3.1.1
humanfriendly==10.0
hyperlink==21.0.0
idna==3.10
image2gcode==2.9.11
imageio==2.37.0
incremental==24.7.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
kombu==5.5.4
lazy_loader==0.4
llvmlite==0.44.0
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
nptyping==2.5.0
Nuitka==2.6.8
numba==0.61.0
numpy==1.26.4
obspy==1.4.1
onnxruntime==1.20.1
opencv-python-headless==4.11.0.86
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
patchelf==0.17.2.1
pillow==11.1.0
pipreqs==0.4.13
platformdirs==4.3.6
Pmw==2.1.1
pooch==1.8.2
potracer==0.0.4
prompt_toolkit==3.0.51
protobuf==5.29.3
proxy_tools==0.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.27.0
pycparser==2.23
pyerf==1.0.1
pyevtk==1.6.0
PyGObject==3.52.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyMatting==1.1.13
pyOpenSSL==25.3.0
pyparsing==3.2.1
pyperclip==1.9.0
pyproj==3.7.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyshp==2.3.1
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-seispy==1.3.9
pytz==2025.2
pywebview==5.4
QtPy==2.4.3
RangeSlider==2023.7.2
ratelim==0.1.6
redis==6.2.0
referencing==0.36.2
rembg==2.0.62
requests==2.32.3
rpds-py==0.23.1
scikit-image==0.25.2
scikits.bootstrap==1.1.0
scipy==1.15.2
service-identity==24.2.0
setuptools==75.8.2
shapely==2.1.0
shiboken6==6.8.2.1
six==1.17.0
SQLAlchemy==1.4.54
sqlparse==0.5.3
svg2gcode==3.3.6
svgwrite==1.4.3
sympy==1.13.3
tifffile==2025.2.18
tk==0.1.0
tkintermapview==1.29
tkintertable==1.3.3
tqdm==4.67.1
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
vine==5.1.0
virtualenv==20.29.3
wcwidth==0.2.13
wheel==0.45.1
whitenoise==6.11.0
xyzservices==2025.4.0
yarg==0.1.10
zope.interface==8.0.1
zstandard==0.23.0
