{% load static %}
<!DOCTYPE html>
<html lang="en">

<style>
#magSlider {
    width: 100%;
    height: 8px;
    background: var(--track-color, #ddd);
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;
}

#magSlider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--thumb-color, #ff9900);
    border: 2px solid #ff6600;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

#magSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--thumb-color, #ffffff);
    border: 2px solid #ff6600;
    cursor: pointer;
}
</style>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      crossorigin=""
    />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin="" defer></script>

    <script type="module">
        import * as sp from "{% static 'jukbox/js/seisplotjs_3.1.4_standalone.mjs' %}";
        window.sp = sp;
    </script>

    <script>
        window.addEventListener("load", () => {
            console.log("window.sp:", window.sp);
        });
    </script>

    <script>
      window.addEventListener("load", () => {
        var lat = {{ lat }};
        var lng = {{ lng }};

        window.map = L.map('map', {
        maxZoom: 10,
        minZoom: 2,
        worldCopyJump: false,
        maxBoundsViscosity: 1.0,
        maxBounds: [
            [-85, -180],
            [85, 180]    // Northeast
        ],
        scrollWheelZoom: true,
        zoomControl: true
        }).setView([lat,lng],2);


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(window.map);

        var circle = L.circle([lat, lng], {
          color: 'blue',
          fillColor: '#30aaff',
          fillOpacity: 0.5,
          radius: 3000,
        }).addTo(window.map);

        window.circle = circle;

        window.map.on('click', function (e) {
          window.circle.setLatLng(e.latlng);
        });

        var radiusSlider = document.getElementById('radiusSlider');
        var radiusValueDisplay = document.getElementById('radiusValue');

        radiusSlider.addEventListener('input', function () {
          var radius = radiusSlider.value;
          window.circle.setRadius(radius * 1000);
          radiusValueDisplay.textContent = radius + " km";
        });
      });
    </script>

    <script src="{% static 'jukbox/js/map.js' %}" defer></script>
</head>

<body>
    <div id="map" style="height: 600px;"></div>

    <div style="margin-top: 20px;">
        <label for="clientSelect">Select Client: </label>
        <select id="clientSelect">
            <option value="IRIS" selected>IRIS</option>
            <option value="USGS">USGS</option>
        </select>
    </div>

    <div style="margin-top: 20px;">
        <label for="channelSelect">Channel: </label>
        <select id="channelSelect">
            <option value="BHZ" selected>BHZ</option>
            <option value="LHZ">LHZ</option>
            <option value="HHZ">HHZ</option>
        </select>

    <div style="margin-top: 20px;">
        <label for="radiusSlider">Circle Radius: </label>
        <input type="range" id="radiusSlider" min="1" max="1000" value="10" step="10" style="width: 100%;" />
        <span id="radiusValue">300 km</span>
    </div>

    <div style="margin-top: 20px;">
        <label for="startDate">Start Date: </label>
        <input type="date" id="startDate" value="2000-01-01" min="1945-01-01" max="{{ currentDate }}" />
        <label for="endDate">End Date: </label>
        <input type="date" id="endDate" value="{{currentDate}}" min="1945-01-01" max="{{ currentDate }}" />
        <span id="dateRangeDisplay">From 1945 to {{ currentDate }}</span>
    </div>

    <div style="margin-top: 20px;">
        <label for="magSlider">Minimum magnitude: </label>
        <input type="range" id="magSlider" min="1" max="10" value="3" step="0.1" style="width: 100%;" />
        <span id="magValue">3</span>
    </div>

    <div style="margin-top: 20px;">
        <button id="searchButton" onclick="fetchQuakes()">Search</button>
    </div>

    <div id="myseismograph"></div>

    <script type="text/javascript">

        var magSlider = document.getElementById('magSlider');
        var magValueDisplay = document.getElementById('magValue');

        function updateSliderAppearance(magnitude) {
            magValueDisplay.textContent = magnitude;
            let thumbColor;

            magnitude = parseFloat(magnitude);
            if (magnitude < 2) thumbColor = magValueDisplay.style.color = 'blue';
            else if (magnitude < 4) thumbColor = magValueDisplay.style.color = 'green';
            else if (magnitude < 6) thumbColor = magValueDisplay.style.color = 'orange';
            else if (magnitude < 8) thumbColor = magValueDisplay.style.color = 'red';
            else thumbColor = magValueDisplay.style.color = 'black';

            magSlider.style.setProperty('--thumb-color', thumbColor);
        }

        magSlider.addEventListener('input', function () {
            updateSliderAppearance(magSlider.value);
        });

        updateSliderAppearance(magSlider.value);

        var startDateInput = document.getElementById('startDate');
        var endDateInput = document.getElementById('endDate');
        var dateRangeDisplay = document.getElementById('dateRangeDisplay');

        var currentDate = new Date().toISOString().split('T')[0];
        document.getElementById('startDate').setAttribute('max', currentDate);
        document.getElementById('endDate').setAttribute('max', currentDate);

        function updateDateRange() {
            var startDate = startDateInput.value;
            var endDate = endDateInput.value;

            if (startDate && endDate && startDate > endDate) {
                endDateInput.setCustomValidity("End date must be later than start date");
                var tmp = endDateInput.value;
                endDateInput.value = startDate;
                startDateInput.value = tmp;
            } else {
                endDateInput.setCustomValidity("");
            }

            dateRangeDisplay.textContent = "From " + startDate + " to " + endDate;
        }

        startDateInput.addEventListener('change', updateDateRange);
        endDateInput.addEventListener('change', updateDateRange);
        updateDateRange();

    async function clearStores(dbName) {
    const openReq = indexedDB.open(dbName);

    openReq.onsuccess = async (evt) => {
        const db = evt.target.result;

        if (db.objectStoreNames.length === 0) {
        console.warn(`No stores found in database: ${dbName}`);
        db.close();
        return;
        }

        const tx = db.transaction([...db.objectStoreNames], "readwrite");

        for (const name of db.objectStoreNames) {
        tx.objectStore(name).clear();
        }

        tx.oncomplete = () => {
        console.log("Cleared all object stores in", dbName);
        db.close();
        };
    };
    }

    clearStores("MapDatabase");
    //clearStores("stationStore");
    setInterval(() => {
            clearStores("MapDatabase");
        }, 1000 *60 * 60); // Clear every hour 

        const searchQuakes = async function () {
            console.log("searchgQuakes called");
            let latLng = window.circle.getLatLng();
            var radius = document.getElementById('radiusSlider').value;
            var startDate = startDateInput.value;
            var endDate = endDateInput.value;
            var magnitude = magSlider.value;
            var clientSelect = document.getElementById('clientSelect').value;

            var searchData = {
                lat: latLng.lat,
                lng: latLng.lng,
                radius: radius,
                startDate: startDate,
                endDate: endDate,
                magnitude: magnitude,
                selectedClient: clientSelect
            };


            try {
                const response = await fetch('/search_quakes/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify(searchData)
                });

                const result = await response.json();

                const events = result.events;
                const stations = result.stations;

                await saveDictToStoreIndexedDB("eventStore", events);
                await saveDictToStoreIndexedDB("stationStore", stations);
                getAllEvents().then(events => {
                    plotPoints(events);
                });

            } catch (error) {
                alert('map.html An error occurred while searching!');
            }

            window.map.dragging.enable();
            window.map.doubleClickZoom.enable();
            window.map.scrollWheelZoom.enable();
            document.querySelector('.leaflet-container').style.cursor = 'grab';
        };

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>

</html>